p.paragraph1{
    color: var(--orange);
    font-family: 'Inter', sans-serif;
}
p.paragraph2{
    color:var(--blue);
    font-family: 'Inter', sans-serif;
}
p.paragraph3{
    color:var(--dolphin);
    font-family: 'Inter', sans-serif;
}
.btn-primary{
    background-color: #F2994A !important;
    border-color: #F2994A !important;
}
.demo{
    font-family: 'Inter', sans-serif;
    color: var(--mist-blue);
}
body{
    background-repeat: no-repeat !important;
    background-position: top right ;
}
div.card{
    border: none;
}
.topic{
    font-family: 'Inter', sans-serif;
    color:var(--dolphin)
}
.sellings{
    font-family: 'Inter', sans-serif;
}
.easy{
    font-family: 'Inter', sans-serif;
    color: var(--mist-blue);
}

.sub-topic{
font-family: 'Inter', sans-serif;
    color: var(--blue-zodiac);
}